<footer class="navbar fixed-bottom text-center bg-light mt-5" style="border-top: 4px solid #00A5BD; padding-bottom: 0px;">
    <div class="container">
        <p style="font-size: 0.8rem; margin-bottom: 0px; padding-bottom: 2px;">La Plata, Buenos Aires ( Argentina )</p>
        <p style="font-size: 0.8rem; margin-bottom: 0px; padding-bottom: 2px;">Dirección: calle 53 entre 7 y 8</p>
        <p style="font-size: 0.8rem; margin-bottom: 0px; padding-bottom: 2px;">Teléfono: (54) 0221-4297100</p>
        <p style="font-size: 0.8rem; margin-bottom: 0px; padding-bottom: 2px;">© Honorable Cámara de Diputados 2021</p>
    </div>
</footer>